<h3 class="bg-danger p-1 text-white">
  {{getName() }} To do List
</h3>
<div class="my-1">
  <input class="form-control" type="text" name="" #todotext>
  <button class="btn btn-primary mt-1" (click)="addItem(todotext.value)">Add New Task</button>
</div>
<table>
  <tr>
    <th>Index</th>
    <th>Tasks</th>
    <th>Action</th>
    <th>Status</th>
  </tr>
  <tr *ngFor="let item of getTodoItem(); let i =index" >
    <td>{{i + 1}}</td>
    <td>{{item.action}}</td>
    <td>
      <input type="checkbox" name="" id="" [(ngModel)]="item.done">
    </td>
    <td [ngSwitch]="item.done">
      <span *ngSwitchCase="true">YES</span>
    <span *ngSwitchDefault>NO</span>
    </td>
    
  </tr>
  
</table>

<router-outlet></router-outlet>